*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

.Header{
    width:100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    height:100vh;
}

.Header-info{
    padding:20px 70px;
    width:50%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-info-text,.spoon_img{
    padding-left: 50px;
    font-family: 'Cormorant Upright', serif;
    font-size:20px;
}

.header-h1{
    color:#DCCA87;
    letter-spacing: 0.04em;
    line-height: 70px;
    font-size: 60px;
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    padding:50px;
}

.Header-text{
    padding:0px 3rem;
    color:#AAAAAA;
}

.custom_btn{
    
    width:120px;
    height:40px;
    background-color: #DCCA87;
    border:none;
    margin:30px 50px;
    font-weight: 700;
    font-family: 'Cormorant Upright', serif;
}

.Header-img{
    display:flex;
    justify-content: center;
    width:50%;
}

.Header-img >img{
    padding:100px 30px;
    width:70%;
}


@media screen and (max-width:900px),(max-width:1000px) {
    .Header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Header-info-text{
        width:100%;
    }

    .Header-info{
        width:100%;
    }

    .header-caption{
        padding-top: 100px;
        padding-left: 70px;
    }

    .Header-img{
        width: 100%;
    }

    .Header-img > img{
        width:80%;
    }

    .header-info-text, .spoon_img {
        padding-left: 0px;
    }

    .header-h1 {
        line-height: 40px;
        font-size: 30px;
        padding: 20px 0px;
    }

    .Header-text {
        padding: 0px;
        padding-right: 10px;
    }

    
    .Header-info {
        padding: 20px 40px;
    }

    .custom_btn {
        margin: 30px 0px;
    }

    
}


@media screen and (max-width:400px),(max-width:500px),(max-width:600px){
    *{
        padding:0px;
        margin:0px;
    }

    .header-caption{
        padding:0px;
    }

    .Header{
        width: 100%;
        display:block;
    }
    .Header-info{
        width:100%;
    }

    .Header-img{
        display:flex;
        justify-content: center;
        width:100%;
    }

    .Header-img >img{
        padding:0px;
    }
}

@media screen and (max-width:300px) {
    .Header-img >img{
        width:60%;
    }
}


