*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

.Find_us{
    width:100%;
    height:auto;
    background-image: url(/public/bg.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.contact-info{
    width:50%;
    padding-left: 100px;
    margin-top: 50px;
}

.contact-info-social-media{
    color:white;
    font-family: ' Cormorant Upright';
}

.contact-info-header,.hours{
    color:#DCCA87;
    font-family: ' Cormorant Upright';
}

.contact-info-note,.schedule{
    color:#AAAAAA;
}

.view-more-btn{
    width:120px;
    height:30px;
    background-color:#DCCA87;
    border:none;
}

.findus{
    width:50%;
    text-align: center;
}

.findus_img{
    width:60%;
    padding-top:50px;
    padding-bottom: 160px;
}

@media screen and (max-width:400px) {
    .Find_us {
        display: flex;
        flex-direction: column;
    }
    
    .contact-info {
        width: 100%;
        text-align: center;
        padding:0px;
    }

    .findus {
        width: 100%;
    }
}

@media screen and (max-width:414px),(max-width:600px) {
    .Find_us {
        /* width: 100%; */
        /* height: auto; */
        /* background-image: url(http://localhost:3000/static/media/bg.3d421b1b5682e1b67deb.png); */
        /* background-size: cover; */
        display: flex;
        flex-direction: column;
    }

    .contact-info {
        width: 100%;
        padding: 0px 30px;
        text-align: center;
        /* padding-left: 100px; */
        /* margin-top: 50px; */
    }

    .findus {
        width: 100%;
        /* text-align: center; */
    }

    .findus_img {
        width: 60%;
        padding-top: 30px;
        padding-bottom: 180px;
    }
}