*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

.intro-video{
    height:100vh;
    position: relative;
}

.intro-video > video{
    width:100%;
    height:100%;
    object-fit: cover;
}

.video-overlay{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(0, 0, 0, 0.65);
    margin:auto;
}

.video-overlay-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid grey;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}