*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }


.SpecialMenu{
    width:100%;
    background-color: black;
    height:auto;
}

.SpecialMenu-title{
    text-align: center;
    width:100%;
}


.menu_title{
    text-align: center;
    color:white;
    font-size: 20px;
    padding:20px 0px;
    font-family: 'Cormorant Upright', serif;
}


.Menu_header{
    text-align: center;
    color:#DCCA87;
    font-size:50px;
    font-family: 'Cormorant Upright', serif;
}

.menu_section{
    width:100%;
    display: flex;
    flex-direction: row;
}

.menu1{
    color:white;
    width:33%;
    display: flex;
    flex-direction: column;
}

.menu_header >h1{
    padding:0px 40px;
    font-family: 'Cormorant Upright', serif;
}

.content{
    padding:0px 40px;
    font-size: 12px;
}


.menu_picture{
    width:33%;
    text-align: center;
}

.menu{
    margin-top: 35px;
    width:300px;
    height:550px;
    
}

.menu1{
    width:33%;
    display: flex;
    flex-direction: column;
}

.menu1 >h1{
    color:white;
    font-size: 36px;
}

.menu2{
    width:33%;
    display: flex;
    flex-direction: column;
    color:white;
}

.btn_view-more{
    text-align: center;
}

.view-more{
    margin: 40px auto;
    width:120px;
    height:40px;
    background-color: #DCCA87;
    border:none;
    font-weight: 700;
    font-family: 'Cormorant Upright', serif;
    
}

@media screen and (max-width:400px) {
    .menu_section{
        display:flex;
        flex-direction: column;
    }

    .Menu_header{
        font-size:40px;
    }

    .menu1 {
        width: 100%;
        margin-top: 30px;
    }

    .menu_header >h1 {
        text-align: center;
    }

    .menu_picture {
        width: 100%;
        text-align: center;
    }

    .menu2 {
        width: 100%;
    }

    .menu_header >h1 {
        margin-top: 30px;
    }

    .chef {
        display: flex;
        flex-direction: column;
    }


    .chef-left {
        width: 100%;
        text-align: center;
    }

    .chef_img {
        margin-top: 30px; 
    }

    .chef-right {
        width: 100%;
        text-align: center;
    }

    .quote_img {
        width: 60px;
        height: 20px;
        padding-left: 40px;
    }

    
}

@media screen and (max-width:414px), (max-width:600px) {
    .menu_section {
        display: flex;
        flex-direction: column;
    }

    .Menu_header{
        font-size:40px;
    }

    .menu1 {
        width: 100%;
    }

    .menu_header >h1 {
        padding-top: 20px;
        font-family: 'Cormorant Upright', serif;
        text-align: center;
    }

    .menu_picture {
        width: 100%;
        text-align: center;
    }

    .menu2 {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .menu_picture {
        margin-top: 60px;
    }

    .menu {
        margin-top: 35px;
        width: 200px;
        height: 550px;
    }
}